<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel = "stylesheet" href = "{% static 'website/style.css' %}">
    <title>About</title>
</head>
<body>
    <h1>About us</h1>    
    <p style="font-size: 18px;">
        Visualize Air Pollution is a project developed by the University of Memphis.<br>
        Our mission is to visualize the air pollution levels and potential sources on Google Earth.<br>
        This project will promote the public's awareness of air pollution, help them to identify potential pollution sources, and support the environment justice (EJ) movement.
    </p>
    <p style="font-size: 18px;">People:
        <ul style="font-size: 18px;">
            <li>Dr. Chunrong Jia: Project Sponsor</li>
            <li>Dr. Xichen Mou: Project Sponsor</li>
            <li>Kamren Grady: Developer</li>
            <li>Headley Brissett: Developer</li>
            <li>Vu Le: Developer</li>
        </ul>
    </p>
</body>
</html>