{% extends './base.html' %}

{% block title %} <title>About</title> {% endblock title %}

{% block content %}

    <main class="container mt-5">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="bg-op">
                <div>
                    <h1>About</h1>
                </div>
                <div>
                    <p>
                        Visualize Air Pollution is a project developed by the University of Memphis.
                        Our mission is to visualize air pollution levels and potential sources on Google Earth.
                        This project will promote the public’s awareness of air pollution, help them identify potential pollution sources, and support the environmental justice (EJ) movement.
                    </p>
        
                    <p>
                        Team:
                        <ul>
                            <li>Dr. Chunrong Jia: Project Sponsor</li>
                            <li>Dr. Xichen Mou: Project Sponsor</li>
                            <li>Kamren Grady: Developer</li>
                            <li>Headley Brissett: Developer</li>
                            <li>Vu Le: Developer</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
