<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel = "stylesheet" href = "{% static 'website/style.css' %}">
    <title>About</title>
</head>
<body>
    <h1>About us</h1>    
    <p style="font-size: 18px;">
        Visualize Air Pollution is a project cooperated between the University of Memphis and the U.S. Environmental Protection Agency (U.S. EPA).
        Our mission is to visualize the concentrations of chemical pollutants on Google Earth.
        By doing this, we want people to have more insights and awareness about air pollution around us.
    </p>
    <p style="font-size: 18px;">People:
        <ul style="font-size: 18px;">
            <li>Dr. Xichen Mou: Project Sponsor</li>
            <li>Dr. Chunrong Jia: Project Sponsor</li>
            <li>Kamren Grady: Developer</li>
            <li>Headley Brissett: Developer</li>
            <li>Vu Le: Developer</li>
        </ul>
    </p>
</body>
</html>