<!DOCTYPE html>
<html>
<head>
    <link rel = "stylesheet" href = "../../static/website/style.css">
    <title>Help</title>
</head>
<body>
    <h1>Help</h1>   
    <h2 style="text-align: left; opacity: 0.6;">Website</h2>   
    <div style="background: whitesmoke; font-size: 18px; padding: 1px; border: 1px solid lightgrey; margin: 10px; opacity: 0.7;">
        <p>
            <details>
                <summary><b>What are requirements for files uploaded?</b></summary>
                <p>There are two files that you can upload. 
                    <ol>
                        <li>The first one is the concentration data.
                            <ul>
                                <li>This file is required.</li>
                                <li>This file must be in CSV format.</li>
                                <li>The first two columns are coordinates (x and y).</li>
                                <li>The next columns are chemicals and their concentrations: Benzene, CH4, H2S, Toluene, VO, m.Xylene, and p.Xylene.</li>
                            </ul>
                        </li>
                        <li>The second one is the wind data.
                            <ul>
                                <li>This file is not required.</li>
                                <li>This file must be in XLSX format or Excel format.</li>
                            </ul>
                        </li>
                    </ol>
                </p>
            </details>
        </p>
    </div> 
    <div style="background: whitesmoke; font-size: 18px; padding: 1px; border: 1px solid lightgrey; margin: 10px; opacity: 0.7;">
        <p>
            <details>
                <summary><b>How can I upload files?</b></summary>
                <p>
                    <ol>
                        <li>Go to the Home page.</li>
                        <li>Click the box to choose a file, or drag a file into the box.</li>
                        <li>Click Submit button</li>
                    </ol>
                </p>
            </details>
        </p>
    </div> 
    <h2 style="text-align: left; opacity: 0.6;">Google Earth</h2>   
    <div style="background: whitesmoke; font-size: 18px; padding: 1px; border: 1px solid lightgrey; margin: 10px; opacity: 0.7;">
        <p>
            <details>
                <summary><b>How can I edit the visualization?</b></summary>
                <p>
                    <ol>
                        <li>Click Project icon on the left-hand side.</li>
                        <li>Click 'KML file' row.</li>
                        <li>As of now, you can see the chemicals' titles in your KML file. 
                            On the right-hand side of each title, there are  three options:
                            <ul>
                                <li>Edit feature - Change title, width, or color.</li>
                                <li>Hide feature / Show feature - Show or hide the visualization of that chemical.</li>
                                <li>Delete - Remove the visualization of that chemical .</li>
                            </ul>
                        </li>
                    </ol>
                </p>
            </details>
        </p>
    </div> 
    <div style="background: whitesmoke; font-size: 18px; padding: 1px; border: 1px solid lightgrey; margin: 10px; opacity: 0.7;">
        <p>
            <details>
                <summary><b>How can I tilt or rotate the map?</b></summary>
                <p>Click the 3D button at the low-right corner.</p>
            </details>
        </p>
    </div> 
    <div style="background: whitesmoke; font-size: 18px; padding: 1px; border: 1px solid lightgrey; margin: 10px; opacity: 0.7;">
        <p>
            <details>
                <summary><b>More questions about Google Earth?</b></summary>
                <p>Check <a href="https://support.google.com/earth/?hl=en#topic=7364880" target="_blank" rel="noopener noreferrer">Google Earth Help Center</a></p>
            </details>
        </p>
    </div> 
</body>