{% extends './base.html' %}

{% block title %} <title>Home</title> {% endblock title %}

{% block content %}
    <h1>Create your own visualization</h1>    
    <form action="" method="post" class="drop-zone" enctype="multipart/form-data" >
        {% csrf_token %}
        <div class="drop-zone__prompt">
            <p>Drop a CSV file here <br> Or click to upload</p>
            <input type="file" id="dropID" name="dropName" class="drop-zone__input" accept=".csv" >
        </div>
    </form>

    <form method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <input type="file" id="fileID" name="fileName">
        <button type="submit">Submit file</button>
    </form>
{% endblock %}