<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel = "stylesheet" href = "{% static 'website/style.css' %}">
    <title>Home</title>
</head>
<body>
    <h1>Create your own visualization</h1>    
    {% block content %}
    <form action="" method="post" class="drop-zone" enctype="multipart/form-data" >
        
        <div class="drop-zone__prompt">
            <p>Drop a CSV file here <br> Or click to upload</p>
            <input type="file" id="dropID" name="dropName" class="drop-zone__input" accept=".csv" >
        </div>
        <div>
            <button type="submit">Submit file</button>
        </div>
    </form>
    
    <form method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <input type="file" id="fileID" name="fileName">
        <button type="submit">Submit file</button>
    </form>
    {% endblock %}

    <script src="../../static/website/function.js"></script>
</body>
</html>