<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel = "stylesheet" href = "{% static 'website/style.css' %}">
    <title>Show</title>
</head>
<body>
    <h1>Your Visualization</h1> 

    <table style="width: 280px, opacity: 0.6;">
        <tr>
            <td colspan = 2>
                <b>KML File:</b>
                <u style="color: darkgreen;">YourVisualization.kml</u>
            </td>
        </tr>
        <tr style="text-align: center;">
            <td><button style="width: 100px" class="button">Download</button></td>
            <td><button style="width: 180px" class="button">Go to Google Earth</button></td>
        </tr>
    </table>
    
    <script src="../../static/website/function.js"></script>
</body>
</html>