{% extends './base.html' %}

{% block title %} <title>Conversion</title> {% endblock title %}

{% block content %}
    <h1>Your Visualization</h1> 

    <table style="width: 280px, opacity: 0.6;">
        <tr>
            <td colspan = 2>
                <b>KML File:</b>
                <u style="color: darkgreen;">YourVisualization.kml</u>
            </td>
        </tr>
        <tr style="text-align: center;">
            <td><button style="width: 100px" class="button">Download</button></td>
            <td><button style="width: 180px" class="button">Go to Google Earth</button></td>
        </tr>
    </table>
{% endblock %}